.strap-dropdown-toggle {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #fbfbfb;
    border: 1px solid #66b2b2;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #666666;
    position: relative;
}

.strap-dropdown-toggle:hover {
    background: white;
}

.strap-dropdown-toggle span {
    text-align: left;
    flex-grow: 1;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 7px 0 7px 7px;
}

.strap-dropdown-toggle .dropdown-arrow {
    transition: transform 0.2s ease;
    color: #666666;
    flex-shrink: 0;
    width: 12px !important;
    height: 8px !important;
    display: block !important;
    padding: 7px 7px 7px 0;
    margin-left: 8px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.strap-dropdown-toggle .dropdown-arrow path {
    stroke: currentColor;
    stroke-width: 2;
}

.strap-dropdown-toggle.active .dropdown-arrow {
    transform: rotate(180deg);
}

.strap-dropdown-toggle svg {
    display: block !important;
}
