element.style {
    width: 296px;
    min-height: 0px;
    margin: 0px;
}
.ec-size .ec-store button, .ec-size .ec-store html [type="button"], .ec-size .ec-store [type="reset"], .ec-size .ec-store [type="submit"] {
    -webkit-appearance: button;
}
.ec-size .ec-store button, .ec-size .ec-store select {
    text-transform: none;
}
.ec-size .ec-store button, .ec-size .ec-store input {
    overflow: visible;
}
.ec-size .ec-store button, .ec-size .ec-store input, .ec-size .ec-store optgroup, .ec-size .ec-store select, .ec-size .ec-store textarea {
    margin: 0;
    font-family: Raleway;
    font-size: 100%;
    line-height: 1.15;
}
.ec-size .ec-store * {
    box-sizing: border-box;
    opacity: 1;
    min-width: 0;
    max-width: none;
    min-height: 0;
    max-height: none;
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    transform: none;
    transform-origin: center center;
    transition: none;
}
.ecsp button, .ecsp input, .ecsp textarea, .ecsp select, .ecwid button, .ecwid input, .ecwid textarea, .ecwid select {
    width: auto;
    height: auto \9;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    text-transform: none;
}
.strap-dropdown-toggle {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: flex
;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 15px; */
    background: #fbfbfb;
    border: 1px solid #66b2b2;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #666666;
    position: relative;
    padding: 7px 7px 7px 7px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
user agent stylesheet
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-variant-emoji: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.ecsp div, .ecsp object, .ecsp iframe, .ecsp a, .ecsp blockquote, .ecsp pre, .ecsp abbr, .ecsp address, .ecsp cite, .ecsp code, .ecsp del, .ecsp dfn, .ecsp em, .ecsp img, .ecsp svg, .ecsp ins, .ecsp kbd, .ecsp q, .ecsp samp, .ecsp small, .ecsp strong, .ecsp sub, .ecsp sup, .ecsp var, .ecsp b, .ecsp i, .ecsp dl, .ecsp dt, .ecsp dd, .ecsp li, .ecsp fieldset, .ecsp form, .ecsp label, .ecsp legend, .ecsp table, .ecsp caption, .ecsp tbody, .ecsp tfoot, .ecsp thead, .ecsp tr, .ecsp th, .ecsp td, .ecsp article, .ecsp aside, .ecsp canvas, .ecsp details, .ecsp figcaption, .ecsp figure, .ecsp footer, .ecsp header, .ecsp hgroup, .ecsp menu, .ecsp nav, .ecsp section, .ecsp summary, .ecsp time, .ecsp mark, .ecsp audio, .ecsp video, .ecwid div, .ecwid object, .ecwid iframe, .ecwid a, .ecwid blockquote, .ecwid pre, .ecwid abbr, .ecwid address, .ecwid cite, .ecwid code, .ecwid del, .ecwid dfn, .ecwid em, .ecwid img, .ecwid svg, .ecwid ins, .ecwid kbd, .ecwid q, .ecwid samp, .ecwid small, .ecwid strong, .ecwid sub, .ecwid sup, .ecwid var, .ecwid b, .ecwid i, .ecwid dl, .ecwid dt, .ecwid dd, .ecwid li, .ecwid fieldset, .ecwid form, .ecwid label, .ecwid legend, .ecwid table, .ecwid caption, .ecwid tbody, .ecwid tfoot, .ecwid thead, .ecwid tr, .ecwid th, .ecwid td, .ecwid article, .ecwid aside, .ecwid canvas, .ecwid details, .ecwid figcaption, .ecwid figure, .ecwid footer, .ecwid header, .ecwid hgroup, .ecwid menu, .ecwid nav, .ecwid section, .ecwid summary, .ecwid time, .ecwid mark, .ecwid audio, .ecwid video {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 100%;
    float: none;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    position: static;
    text-transform: none;
    z-index: auto;
}
.ec-size .ec-store .product-details--layout-sidebar-right .product-details__sidebar {
    font-size: 14px;
}
.ec-size .ec-store .product-details--layout-sidebar-right .product-details__sidebar {
    line-height: 1.4;
}
.ec-size .ec-store {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
}
.ecwid {
    color: #78654a;
}
.ecsp, .ecwid {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    color: rgba(28, 28, 28, 0.9);
    margin: 0;
    word-wrap: normal;
    word-break: normal;
    max-width: 100%;
}
.ecsp, .ecwid, .ecwid-minicart, .ecwid-SearchPanel, .dateBoxPopup, .gwt-PopupPanel {
    font-family: Raleway;
}
#siteWrapper {
    background-color: #fff;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}
#siteWrapper {
    font-family: "Kameron", Georgia, serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .4px;
    line-height: 1.6em;
    color: rgba(28, 28, 28, .9);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}